/*
    Before we get into things, a brief style guide reminder.
    Comments for communication use your full name, like in this one.
    For comments that need to stick around through the submission, initial and date.
    Please initial and date if you modify someone else's code, unless it's very minor.

    If you need to modify the CSS of an element for your page (ie, <h1>) make sure you
     use a Class or ID for it, so you don't break everyone else's page!
*/

* { /* settings for every possible element on the page */
    font-family: 'Tahoma', 'Sans-seriff';
    margin:0;
    box-sizing: border-box; /* as per w3schools, changes calculation of total size of elements to give better CSS control */
}

/* -------------- element settings -------------- */

h1 { 
    font-size: 5vw;
    margin-left: 2vw;
}
h2 { 
    font-size: 20pt;
}
h3 { 
    float: none;
    font-size: 15pt;
}

h4 {
    font-size: 12pt;
}
h5 { 
    font-size: 10pt;
}

p { 
    font-size: 12pt;
}

body {
    background-color: #ffffff;
}

/* ---------------- Semantic Element settings -------------------------------------- */


header { 
    /* background-color:  #006600; */
    background-image: url("images/hiking.jpg");
    height: 30vw;
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat; /* background image and details added for header graphic */
    padding:15px;
    font-size: 4em;
    display: flex; /* as per https://www.w3schools.com/css/css3_flexbox.asp */
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

nav { 
    font-size: 12pt;
    background-color: #8c9966;     /*  colour palette */
    overflow: hidden; /* - as per https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */
}
nav a { 
    float: left;
    display: block;
    color: white; 
    text-align: center;
    padding: 10px;
    transition: all .3s ease;
    text-decoration: none; /*avoids annoying underlines */
} 
nav a:hover { 
    background-color: #be1531; /*  colour palette */
}          
nav a.active { 
    background-color: #eceee6; /*  colour palette  */
}
nav a:not(:first-child) {
    display: none;
}
nav a.icon {
    float: right;
    display: block;
}
.topnav.responsive {
    position: relative;
}
.topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
}
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}

main { /*  sets up flexbox, to simplify positioning of everything. */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

section { /* aligns subsequent sections to the column format consistent with main */
    margin: 1vw;
    order: 1;
    flex: 80vw;
    display: flex;
    flex-direction: column;
}

footer { /* footer formatting sourced from https://www.w3schools.com/cssref/pr_class_clear.asp */
    background-color: #1f3021;
    color: #cecece;
	border-top: 1px solid gray;
	text-align: center;
	padding: 2vw;
	position: static;
    bottom: 0;
}

.footernotes {
    font-size: 10pt;
}
.deadlink { /* JD 12-06 styling leads to hover effect below  */
	color: black;
	text-decoration:none;
}    
.deadlink:hover { /* JD 12-06 Creates the appearance of a clickable link, regardless if it does anything or not  */
	text-decoration: underline;
    cursor:pointer;
} 

/* --------------------------------------- General Styling ------------------------- */

#logo { 
    height: 8vw;
    float: left; 
}
#motto { /*  Using flexbox to allow slogan underneath title */
    color: rgb(0, 0, 0); 
    font-style:italic;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 0.4em;
}

.quote{ /* Quotation styling */
    padding: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 1.25em;
}

.underlineTitle { /* underlining titles (h3) for visual appeal and organization. could be used for titles in other pages */
    border-bottom: 1px solid #b8b2cf;
    margin-bottom: 10px;
}

/* -------------------- Landing / Index / Meet the Team Page Styling ------------------------- */ 

.projectTitle{
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
    color: #828a94;
}

.folks { /*  the bio panels to go in rows, wrapping around if made smaller */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.bio { /* sets the bio panels to arrange their contents vertically, full-width on small screens */
    width: 100vw;
    border-right: 1px solid rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    margin: .5vw;

}
.justify { /* AH/SV 12-04 - sets the paragraphs to justify instead of centre */
    text-align: justify;
}

.profiles { /* AH/SV 12-04 - sets images to greyscale for bios */
    filter: grayscale(100%);
    border-radius: 100%;
    padding: 15px;

}
.profiles:hover { /* AH/SV 12-04 - bio images switch to colour on mouseover */
    filter: none;
}

.name {
    font-size: 15pt;
    font-weight: bold;
    padding-top: 15px;
}

.role {
    font-size: 10pt;
    font-style: italic;
    padding: 5px;
}



#landingPic { /* somehow I can't get this image to come in */
    background-image: src="/images/hiking.jpg";
    height: 50vw;
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat; /* background image and details added for header graphic */
    display: flex; /* as per https://www.w3schools.com/css/css3_flexbox.asp */
    flex-flow: row wrap;
    justify-content: center;
}

.landingTitle {
    text-align: center;
    margin-top: 20px;
}


/* --------------------------------------- Methodology Page Styling ------------------------- */ 

/* --------------------------------------- Solution Page Styling ------------------------- */ 


@media screen and (min-width: 800px) {
    /* ---------- About Us styling for Landing page ---------- */
        .bio { /* AH/SV 12-04 - Sets the width of the bio boxes so that three fit on a larger screen */
        width: 20vw;
    }
    .profiles { /* AH/SV 12-04 - sets images to greyscale for bios */
        filter: grayscale(100%);
    }
    .profiles:hover { /* AH/SV 12-04 - bio images switch to colour on mouseover */
        filter: none;
    }
}